.mat-card-image {
  // padding: 16px 0px;
  // width: auto;
  // height: 250px;
}

.card-content {
  flex: 1 1 75%;
  margin: 0 0 0 56px;
}

.card-image {
  flex: 0 0 25%;
  margin: 24px;
}

@media (max-width: 599px) {
  .card-content {
    flex: 0 0 100%;
    margin: 0px;
  }
  
  .card-image {
    flex: 0 0 100%;
  }
}